

#* AWS
AWS_BUCKET_REGION= #$ This can be public
AWS_BUCKET_NAME=  #$ This may be OK to keep public if the bucket itself is public but it depends.


AWS_ACCESS_KEY= #! It's critical to keep this private.
AWS_SECRET_ACCESS_KEY= #! obviously this is even more critical to keep private.




#* OAUTH
CLIENT_SECRET_GOOGLE=
CLIENT_ID_GOOGLE=

NEXTAUTH_SECRET= #* This is for the JWT signature


#* Stripe
STRIPE_SECRET_KEY=
STRIPE_SIGNING_SECRET=

#* Brevo

BREVO_API_KEY=
ADMIN_EMAIL=